In [ ]:
 angka = 15
 print("isi variabel angka adalah", angka)
 if angka < 10:
  print(f"{angka} lebih kecil dari 10")
  print("masih if")
print("diluar if")

In [ ]:
angka = 15
 print("isi variabel angka adalah", angka)
 if angka < 10:
  print(f"{angka} lebih kecil dari 10")
else:
  print(angka, "lebih kecil dari 10")

IndentationError: ignored

In [ ]:


if (a%2)==0:
  print("genap")
else(a%2)==1:
  print("ganjil")

SyntaxError: ignored

In [ ]:
angka=print(float(input("masukan nilai:")))
angka=eval(angka)
if angka >=85:
  print("grade A")
elif angka >=65:
  print("grade B")
elif angka >=50:
  print("grade c")
elif angka >=25:
  print("grade D")
else:
  print("grade E")

In [ ]:
angka =5
angka

In [56]:
angka=angka-1
angka

4

In [62]:
angka -= 1
angka

3

In [63]:
angka +=2
angka

5

In [70]:
ulang=3
while ulang>0:
  print("arsan")
  ulang -=1

arsan
arsan
arsan

In [ ]:
angka=print(float(input("masukan nilai:")))

if (angka >=85):
  print("grade A")
elif(angka >=65):
  print("grade B")
elif(angka >=50):
  print("grade c")
elif(angka >=25):
  print("grade D")
else:
  print("grade E")

In [73]:
#tabel perkalian 7
i =1
while i<=10
print(f"{7} x {i}={7*i}")
i +=1

SyntaxError: ignored

In [75]:
pesanan = []
while pesanan_input != 'cukup':
    pesanan_input = input ("Apa pesanan anda?")
    pesanan.append(pesanan_input)
print(pesanan)

NameError: ignored

In [76]:
daftar_pesanan = []
pesanan = ""
while pesanan != "cukup":
    pesanan = input("masukkan pesanan: ")
    if(pesanan != "cukup"):
        daftar_pesanan.append(pesanan)
for x in daftar_pesanan:
    print(x)

masukkan pesanan: ayam
masukkan pesanan: kecap
masukkan pesanan: mie
masukkan pesanan: kacang
masukkan pesanan: kuah
masukkan pesanan: lopa
masukkan pesanan: cukup
ayam
kecap
mie
kacang
kuah
lopa

In [77]:
i= 1
j=1
while i <=10:
  while j <=10:
    print(f"{i} x {j} ={i*j}")
    j+=1
  print()
  j=1
  i +=1

1 x 1 =1
1 x 2 =2
1 x 3 =3
1 x 4 =4
1 x 5 =5
1 x 6 =6
1 x 7 =7
1 x 8 =8
1 x 9 =9
1 x 10 =10

2 x 1 =2
2 x 2 =4
2 x 3 =6
2 x 4 =8
2 x 5 =10
2 x 6 =12
2 x 7 =14
2 x 8 =16
2 x 9 =18
2 x 10 =20

3 x 1 =3
3 x 2 =6
3 x 3 =9
3 x 4 =12
3 x 5 =15
3 x 6 =18
3 x 7 =21
3 x 8 =24
3 x 9 =27
3 x 10 =30

4 x 1 =4
4 x 2 =8
4 x 3 =12
4 x 4 =16
4 x 5 =20
4 x 6 =24
4 x 7 =28
4 x 8 =32
4 x 9 =36
4 x 10 =40

5 x 1 =5
5 x 2 =10
5 x 3 =15
5 x 4 =20
5 x 5 =25
5 x 6 =30
5 x 7 =35
5 x 8 =40
5 x 9 =45
5 x 10 =50

6 x 1 =6
6 x 2 =12
6 x 3 =18
6 x 4 =24
6 x 5 =30
6 x 6 =36
6 x 7 =42
6 x 8 =48
6 x 9 =54
6 x 10 =60

7 x 1 =7
7 x 2 =14
7 x 3 =21
7 x 4 =28
7 x 5 =35
7 x 6 =42
7 x 7 =49
7 x 8 =56
7 x 9 =63
7 x 10 =70

8 x 1 =8
8 x 2 =16
8 x 3 =24
8 x 4 =32
8 x 5 =40
8 x 6 =48
8 x 7 =56
8 x 8 =64
8 x 9 =72
8 x 10 =80

9 x 1 =9
9 x 2 =18
9 x 3 =27
9 x 4 =36
9 x 5 =45
9 x 6 =54
9 x 7 =63
9 x 8 =72
9 x 9 =81
9 x 10 =90

10 x 1 =10
10 x 2 =20
10 x 3 =30
10 x 4 =40
10 x 5 =50
10 x 6 =60
10 x 7 =70
10 x 8 =80
10 x 9 =90
10 x 10 =100

In [78]:
buah=["pepaya ", "semangka","mangga", "jambu"]
for x in buah:
  print(x)

pepaya
semangka
mangga
jambu

In [83]:
#range
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [84]:
for i in range(1,11):
  print(f"{7} x {i} ={7*1}")

7 x 1 =7
7 x 2 =7
7 x 3 =7
7 x 4 =7
7 x 5 =7
7 x 6 =7
7 x 7 =7
7 x 8 =7
7 x 9 =7
7 x 10 =7

In [87]:
for i in range(1, 11):
  for j in range(1,11):
    print(f"{i} x {j} = {i*j}")
  print("==============")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
==============
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
==============
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
==============
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
==============
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
==============
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
==============
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
==============
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
==============
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
==============
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
==============

In [89]:
for i in range(1,11):
  if i ==4:
    break
  print(i)

1
2
3

In [92]:
i=1
while i <= 10:
  if i==4:
    break
  print(i)
  i +=1

1
2
3

In [ ]:
for i in range(1,11):
  if i ==4:
    continue
  print(i)